body, html {
    background:#e4e4e4;
    height:100%;
    min-height:100%;
    margin:0;
    padding:0;
}

#myCanvas {
     border: black 10px solid !important;
     position: fixed;
     top: 50%;
     left: 50%;
     margin-top: -260px;
     margin-left: -260px;

     border-bottom-right-radius: 0px;
     transition: all 1s ease;
}

.east {-webkit-transform: rotate(90deg); transform: rotate(90deg);}
.west {-webkit-transform: rotate(-90deg);transform: rotate(-90deg);}
.north {-webkit-transform: rotate(0deg);transform: rotate(0deg):}
.south {-webkit-transform: rotate(180deg);transform: rotate(180deg);}

#turnRight, #turnLeft, #turnUp, #turnDown {display: none;}

input { 
color: white;
font-family: sans;
font-weight: 600;
background: #a1b3ff;
border-radius: 3px;
padding: .2em;
text-decoration: none;
border: none;
box-shadow: none;
font-size: 12pt;
width: 540px;

}

a {
color: white;
font-family: sans;
font-weight: 600;
background: #a1b3ff;
border-radius: 3px;
padding: .2em;
text-decoration: none;
margin: .2em;
}
input:hover, a:hover {background:#1e90ff; }

input, #turnUp, #turnDown {position: fixed; top: 50%; left: 50%; text-align: center;}
input {margin-top: 275px; margin-left: -265px;}
#turnUp { width: 200px; margin-top: -290px; margin-left: -265px;}
#turnDown { width: 200px; margin-top: -290px; margin-left: 70px;}

body::before {
     font-size: 0px;
     content: "lol";
     padding: 5px;
     padding-left: 10px;
     background: white;
     position: fixed;
     top: 50%;
     left: 50%;
     margin-top:-250px;
     margin-left: -260px;
     z-index: 1;
}
body::after {
     font-size: 0px;
     content: "lol";
     padding: 5px;
     padding-right: 10px;
     background: white;
     position: fixed;
     top: 50%;
     left: 50%;
     margin-top:250px;
     margin-left: 255px;
}
.done::after, .start::before {background: #a1b3ff;}

